body,
html {
    font-family: sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.form {
    margin-top: 20px;
}

.table tr {
    text-align: center;
} 

#content {
    width: 70%;
}

footer {
    background-color: black;
    color: white;
    align-content: center;
    flex-shrink: 0;
}

/* media social from footer */
.containerSocial {
    font-size: 3em;
    align-content: center;
}

.nickname {
    font-size: 1.5em;
    align-content: center;
}


.copyright {
    margin-top: 1em;
    font-size: 0.9em;
}