<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <main role="main">

  {% block body %}{% endblock %}
  
</main>

  <!--  footer  -->

  <footer class="footer mt-auto py-3 text-muted">
    <div class="d-flex justify-content-around align-items-center">
      <div class="container-fluid pt-5">
        <div class="containerSocial row d-flex justify-content-center">
          <div class="github col-40">
            <a href="https://github.com/rizz0014" target="_blank" class="github fab fa-github p-3"></a>
          </div>
          <div class="linkedin col-40">
            <a href="https://www.linkedin.com/in/guilherme-rizzo/" target="_blank" class="linkedin fab fa-linkedin p-3"></a>
          </div>
          <div class="resume col-20">
            <a href="https://rizz0014.github.io/content/Resume_Guilherme_Rizzo.pdf" target="_blank" class="resume fas fa-file p-3"></a>
          </div>
          <div class="instagram col-40">
            <a href="https://www.instagram.com/grizzoc/" target="_blank" class="instagram fab fa-instagram p-3"></a>
          </div>
        </div>
        <div class="nickname d-flex justify-content-center">
          <span>@rizz0014 / @grizzoc</span>
        </div>
        <div class="copyright d-flex justify-content-end">
          <span class="text-muted">© Guilherme Rizzo - </span><span id="currentYear"></span>
        </div>
      </div>
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>