{% extends 'base.html' %}

{% block head %}
<title>Taskify</title>
{% endblock %}

{% block body %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Taskify</h1>

        <p class="lead text-muted">Update Task</p>
    </div>
</section>

<div class="content container">

    <div class="container py-2">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{task.content}}" placeholder="Please name the task...">
            <input type="submit" value="Update">
        </form>
    </div>
    
    <div class="container">
        <a href="{{ url_for('index')}}">Go back</a>
    </div>
</div>
{% endblock %}